.App {
  text-align: center;
  background-color: #263238;
  /*min-height: auto;*/
  /*display: flex;*/    /* Disable for column view */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-body {
  /*background-color: #413B31;*/
  min-height: 100vh; /*60vh*/
  overflow-x: hidden;
  overflow-y: hidden;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  /*padding: 10px;*/
  color: #FEF3BD;
}

video {
  min-height: auto;
  max-width: 100%;
}

.menu {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home ul li {
  float: left;
  padding: 20px;
}

ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10;
}

.menu li {
  float: left;
  padding: 20px;
}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: calc(6px + 1vmin);
  color: #fcab00;
}

p {
  color: orange;
}

h2 {
  font-family: cursive;
}